/* * {
    font-family: "Glegoo", serif;
    font-weight: 400;
    font-style: normal;   
} */
.container {
    height: fit-content;
}


h1{
    /* background: linear-gradient(to right, black 0%,rgb(158, 158, 158) 25%,rgb(158, 158, 158) 76%,black 100%); */
    background: linear-gradient(to right, rgb(17, 76, 236), rgb(0, 183, 255), rgb(16, 47, 223));
    height: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-left: 0px;
    margin: 0px;
    padding-left: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom: solid rgba(0,0,0,.25);
    font-family: "Glegoo", serif;
    font-weight: 400;
    font-style: normal;
}

input {
    margin-top: 1rem;
    /* height: 25vh;
    width: 50vw; */
}

button {
    margin-top: 1rem;
    cursor: pointer;
}



.main-container {
    height:90vh;
    /* background: linear-gradient(0deg,rgb(245, 120, 3) 0%, rgb(255, 255, 85) 50% , rgb(226, 85, 4) 100% ); */
    background: linear-gradient(to right,rgb(144, 52, 231) 10%, rgb(85, 255, 255) 50% , rgb(6, 136, 223) 75%, rgb(131, 81, 223) 100% );
}

.FaGithub {
    font-size: 2rem;
    color: black;
    margin-top: .5rem;
    margin-bottom: 0px;
}

.Justin {
    font-size: 1rem;
    margin-top: .4rem;
}

.larger-container-carousel {
    display: flex;
    justify-content: center;
}

.container-carousel {
    height: 30vh;
    width: 80vw;
    background-color: rgba(128, 83, 212, 0.384);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FaArrow {
    color: rgba(0, 0, 0, 0.75);
    border: rgba(0, 0, 0,.25) solid .15rem;
    border-radius: 50%;
    cursor: pointer;
    font-size: xx-large;
    transition: all .4s ease-in;
}

.FaArrow:hover {
    transform: scale(1.25);
}

#FaArrowLeft {
    position: absolute;
    left: 0;
    margin-left: .5rem;
}

#FaArrowRight {
    position: absolute;
    right: 0;
    margin-right: .5rem;
}

.indicators {
    display: flex;
    position: absolute;
    bottom: 0;    
    margin-bottom:.5rem;
}

.indicator {
    margin: .25rem;
    cursor: pointer;
    font-size: x-small;
    
}

.indicator-active {
    color: azure;
}

.indicator-inactive {
    color: rgba(0, 0, 0, 0.384);
}
/* .larger-footer-container {
    display: flex;
    justify-content: center;
    width: 100vw;
} */

.footer-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
    border-top: solid black;
    background: linear-gradient(to right, rgb(17, 76, 236), rgb(0, 183, 255), rgb(16, 47, 223));
    align-items: center;
    height: 10vh;
    place-items: center;
}

.larger-body-container {
    display: flex;
    justify-content: center;
}

.body-container {
    width: 80vw;
    background-color: rgba(100, 210, 243, 0.363);
    height: 70vh;
    border: .25rem solid rgba(0,0,0,.25);
    padding: .25rem;
    padding-left: 4rem;
    padding-right: 4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#DefaultBody {
    font-size: x-large;
}

#InnerDefaultBody {
    height: 25vh;
}

#searchbar {
    width: 70%;
    height: 60px;
    background: none;
    border: none;
    border-bottom: 1px solid #34495e;
    outline: none;
    font: 300 28px 'Ubuntu', sans-serif;
    padding: 20px;
    color: #34495e;
    margin-bottom: 16px;
}

.CardLook {
    height: 75%;
    width: 25%;
    margin: 1rem;
    border: black solid 1px;
    border-radius: .5rem .5rem;
    background-color: rgba(100, 210, 243, 0.363);
    box-shadow: 0px 0px .25rem;
}

.CardLook-Hidden {
    display: none;
}

/* @media screen and (max-width: 600px) {
    h1 {
        background: linear-gradient(to right, black 0%,rgb(158, 158, 158) 25%,rgb(158, 158, 158) 76%,black 100%);
        justify-content: center;
    }
} */